.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.GameBorderDiv {
  width: 770px;
  margin: auto;
  padding: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
  margin-bottom: 30px;
}

.gameStatus {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: auto;
  align-content: center;
}

.winnerMessage {
  color: rosybrown;
  margin: auto;
}

.gameIdMessage {
  margin: auto;
}
