.GameEntireFieldDiv {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}

.GameBorderDiv {
  width: 640px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
  margin-bottom: 30px;
}

.GameTurnDiv {
  width: 200px;
  margin: 200px 5px 0px 10px;
}

.GameEmptyDiv {
  width: 200px;
  margin: 200px 5px 0px 10px;
}

.gameStatus {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: auto;
  align-content: center;
}

.winnerMessage {
  color: rosybrown;
  margin: auto;
}

.gameIdMessage {
  margin: auto;
}