button {
  display: inline-block;
  margin: 10px;
  padding: 10px 27.5px !important;
  font-weight: 500;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border: 2px solid #555;
  color: #555;
}

button:hover,
button:active {
  border: 1px solid #000;
  color: #fff;
}
